.main {
  margin: 0 56px;
  max-width: 1300px;
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin-top: 0;
}

.container {
  display: flex;
}

.availablePostings {
  flex: 5;
  width: 100%;
}

.requestedPostings {
  flex: 2;
  width: 100%;
  background-color: #422800;
  color: #fbeee0;
  margin: 0 0 24px 0px;
  box-shadow: #fbeee0 1px 1px 0 0, #422800 4px 4px 0 0;
  padding: 8px;
}

.newCardHeader {
  cursor: pointer;
  background-color: #51479f;
  padding: 8px;
  border-radius: 10px;
  padding: 4px 8px;
  margin: 8px 4px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.newCardHeader:hover {
  color: #422800;
  background-color: #fff;
}

.newCardTitle {
  font-size: 16px;
  margin: 0;
}
